{% extends 'RegneHostilKingdomsBundle:Default:layout.html.twig' %}

{% block content %}
<div class="entry">
	<h1>{{ camp.name }}</h1>
	<center class="camp_motto">
		<br>
		{{ camp.motto }}
	</center>
	<br><br>
	<img class="camp-logo" src="{{ asset( camp.logo ) }}">
	<div class="entry_text">
		{{ camp.desc }}
	</div>
</div>

<div class="entry">
	<br>
	<h1>{{ camp.relicName }}</h1> 
	<div class="entry_text">
		{{ camp.relicDesc }}
	</div>
</div>

<br><br>

<div class="entry">
	{% for c in camps %}
		<div class="span3">
			<a href="{{ path('regne_hostil_kingdoms_show_camp', {'name': c.name}) }}">
				<img class='img-camps' src="{{ asset( c.logo ) }}">
			</a>	
		</div>
	{% endfor %}
</div>
{% endblock %}