{% extends 'RegneHostilKingdomsBundle:Default:layout.html.twig' %}

{% block content %}
<div class="entry">
	<h1>{{ camp.name }}</h1>
	<a rel="lightbox" title="{{ camp.name }}" href="{{ asset( camp.logo ) }}">
		<img class="camp-logo" src="{{ asset( camp.logo ) }}">
	</a>
	<div class="entry_text">
		{{ camp.desc }}
	</div>
</div>

<div class="entry">
	<h1>Reliquia</h1>
</div>

{% endblock %}