{% extends 'RegneHostilClubBundle:Default:layout.html.twig' %}

{% block content %}
<div class=entry>
	<h1>Contacta amb nosaltres!</h1>

	{% if success %}
		<div class='alert alert-success'>
			{{ successMessage}}
		</div>
	{% endif %}

	{% if error %}
		<div class='alert alert-error'>
			{{ errorMessage }}
		</div>
	{% endif %}

	<form class="form_horizontal" action="{{ path('regne_hostil_club_contact') }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	    <div class="well">
	    	<center>
	    		{{ captcha|raw }}
	    		<input type="submit" />
	    	</center>
	    </div>
	</form>
	
</div>
{% endblock %}