{% extends 'RegneHostilClubBundle:Default:layout.html.twig' %}

{% form_theme form _self %}

{% block form_row %}
{% spaceless %}
    <div class="control-group">
		{{ form_label(form, label, { 'label_attr': { 'class': 'control-label' } }) }}
        <div class="controls">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock %}

{% block content %}

<style type="text/css">
	textarea {
		height: 20%;
	}
</style>

<div class=entry>
	<h1>Contacta amb nosaltres!</h1>

	{% if success %}
		<div class='alert alert-success'>
			{{ successMessage}}
		</div>
	{% endif %}

	{% if error %}
		<div class='alert alert-error'>
			{{ errorMessage }}
		</div>
	{% endif %}

	<form class="form-horizontal" action="{{ path('regne_hostil_club_contact') }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	    <div class="well">
	    	<center>
	    		{{ captcha|raw }}
	    		<input type="submit" />
	    	</center>
	    </div>
	</form>
	
</div>
{% endblock %}