<head>
	<title>Regne Hostil Admin Pane</title>
	
	<!-- JQuery -->
	<script src=//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js></script>
	
	<!-- Twitter Bootstrap -->
	<link rel=stylesheet href="{{ asset('bundles/regnehostilclub/css/bootstrap.css') }}">
	<script type="text/javascript" src="{{ asset('bundles/regnehostilclub/js/bootstrap.js') }}"></script>
	
	<!-- Activem responsive bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ asset('bundles/regnehostilclub/css/bootstrap-responsive.css')}}" rel="stylesheet">
</head>

<div class="container-fluid">
	<div class="navbar">
  		<div class="navbar-inner">
    		<a class="brand" href="#">RH</a>
    	</div>
    </div>
	<div class="row-fluid">
		<div class="span3 well">
			<ul class="nav nav-list">
				<li><a href="{{ path('regne_hostil_club_admin_create_noticia') }}">Crear noticia</a></li>
				<li><a href="{{ path('regne_hostil_club_admin_noticies') }}">Gestionar noticies</a></li>
			</ul>

		</div>

		<div class="span9">
			<style type="text/css">
				textarea {
					width: 90%;
					height: 70%;
				}
				</style>
			{% block content %}

			{% endblock %}
		</div>
	</div>
</div>


